<div class="contest-info">
	<div class="contest-info__container">
		<h2 class="contest-info__headline">Pics</h2>
		<p class="contest-info__paragraph">
		Real travel is all about the pics. Those great shots with family and friends making memories. It’s how we capture memories and relate. Our Pic Me Photo Contest is a celebration of your travel moments and a way to say every trip matters.</p>

		<p class="contest-info__paragraph">Stock travel photos are all the same: overly staged, manicured models on photoshopped desert isles. We all know that’s not what real trips look like, so why go there?</p>

		<p class="contest-info__paragraph">Real people travel for real reasons; family get togethers, short getaways and sometimes just because. Moments like your Aunt Ester’s 90th b-day, that time you were buried you up to your neck at the Jersey shore, relaxing poolside at your friend’s house in Riley, and that road trip through Big Sur... when it rained… like the whole time.</p>

		<p class="contest-info__paragraph">These real moments represent the everyday trips that priceline.com enables. They should be celebrated!</p>

		<h2 class="contest-info__headline">Contest</h2>

		<p class="contest-info__paragraph">We care about the trips that make up your life.  What better way to show it than through the eyes of our coworkers?</p>

		<p class="contest-info__paragraph">By entering the Pic Me Photo Contest you will be helping us build our library of real travel images. The best pics may end up in internal presentations, on social media, in emails or may even appear in marketing campaigns. So submit your favorite pics and remember, we’re not looking for epic vacation photographs, we're looking for real, smart and fun travel pics.</p>

		<p class="contest-info__paragraph">The best part of the contest is that you vote for the winners.  Just like your favorite social media sites, each photo like is one vote. Remember, we’re looking for pics that represent real travel moments. Prizes will be awarded for “Most on Brand”,  “Most Liked”, “Most Uploads” and more.</p>

		<h2 class="contest-info__headline">Pic Cheat Sheet</h2>
		<p class="contest-info__paragraph">You might be thinking “I’m not a photographer” or “What do I know about travel photos?"Well, this section is for you. Like we said earlier, stock travel photographs are lame but pics of your road trips, family reunions and 3-day weekend getaways are the real deal. Below are examples of Dos & Don’ts to help you choose your best pics.</p>

		<div class="contest-info__tips">
			<div class="contest-info__tips__column">
				<strong class="contest-info__tips__headline">Do This</strong>
				<ul>
					<li class="contest-info__tips__img"><img src="/images/dothis-1.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dothis-2.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dothis-3.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dothis-4.png"/></li>
				</ul>
			</div>
			<div class="contest-info__tips__column">
				<strong class="contest-info__tips__headline">Not This</strong>
				<ul>
					<li class="contest-info__tips__img"><img src="/images/dontdo-1.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dontdo-2.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dontdo-3.png"/></li>
					<li class="contest-info__tips__img"><img src="/images/dontdo-4.png"/></li>
				</ul>
			</div>	
		</div>	
	</div>

	<aside class="contest-prizes">
		<h2 class="contest-prizes__headline">Prizes</h2> 
		<ul class="contest-prizes__tier-list">
			<li>
				<h3 class="contest-prizes__tier-title">Most Likes</h3>
				<div class="contest-prizes__tier-prize">2 Night Hotel Stay Anywhere in the US</div>
			</li>
			<li>
				<h3 class="contest-prizes__tier-title">Most Uploads</h3>
				<div class="contest-prizes__tier-prize">$100 Express Deals Coupon</div>
			</li>
			<li>
				<h3 class="contest-prizes__tier-title">Most on Brand</h3>
				<div class="contest-prizes__tier-prize">$100 Express Deals Coupon</div>
			</li>
	</aside>


	
</div>
