<div class="submissions">
	<div class="submissions__header">
	<% if (isHome) { %>	
	<h1>Submissions<span class="main-filters-list"></span></h1>
	<% } else if (isMyPics) { %>
	<h1> My Pics<span class="main-filters-list"></span></h1>
	<% } %>
		
			<div class="submissions__select-container"> 
				<label for="select" class="select-container__arrow"></label> 
				<select id="select" class="submissions__sort"> 
					<option value="newest" <%= sort == "newest" ? "selected" : "" %>>Newest</option>
			  		<option value="popular" <%= sort == "popular" ? "selected" : "" %>>Popular</option> 
				</select> 
			</div> 
		
		<!-- <select class="submissions__sort">
			  <option value="newest" <%= sort == "newest" ? "selected" : "" %>>Newest</option>
			  <option value="popular" <%= sort == "popular" ? "selected" : "" %>>Popular</option> 
		</select> -->
	</div>
	<div class="submissions__container">
		<ul id="image-list">
		<% for(var i=0; i < initData.images.length; i++) { %>
			<li class="submissions__img-container" data-uid="<%= initData.images[i].uid %>">

				<img class="submissions__img" data-id="<%= initData.images[i].uniqueName %>" src="">
				 <div class="submission__info">
				 <span class="submissions__username"><a href=""><%= initData.images[i].username %></a></span> <span class="submissions__likes">
				 <span class="submissions__icon-container"><img class="submissions__like-icon" src="/images/hand.svg"/></span>Likes: <span class="like-value"><%= initData.images[i].likesCount %></span></span>
				</div>
			</li>
		<% } %>
		</ul>
		<div class="pageloader">
			<div class="spinner">
				<div class="spinner__item1"></div>
				<div class="spinner__item2"></div>
				<div class="spinner__item3"></div>
				<div class="spinner__item4"></div>
			</div>
		</div>	
	</div>	
</div>
