<div class="terms">
	<h1 class="terms__headline">
		Contest Terms & Conditions
	</h1>

	<p>By entering your photo into the PICME photo contest, you grant <a href="http://www.priceline.com">priceline.com</a>, LLC royalty-free, nonexclusive rights to these photos.  If your photograph is selected by the brand team, you grant <a href="http://www.priceline.com">priceline.com</a>, LLC a royalty-free, nonexclusive rights (in perpetuity) to utilize your image on <a href="http://www.priceline.com">priceline.com</a>, <a href="http://www.priceline.com">priceline.com</a>’s social channels, internal/external PR communications, email communications, collateral (one sheets, PowerPoints, etc.) and advertising campaigns.  If you submit a photo that includes the likeness of a friend, family member or bystander,  the submitter assumes liability for all people present in the photograph.</p>	

	</div>	