
<!doctype html>
<html>
	<head>
		<title> <%=title %> </title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css-starter-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="main-container">
			<header class="header">
				 
				 	<img class="header__logo" src="/images/logo.svg"/>
				 

				 <nav class="navbar--user">
				 	<ul class="navbar--user__list">
				 		<li class="navbar--user__item">Hi {Tanya}</li>
				 		<li class="navbar--user__item"><a class="navbar--user__link" href="">Sign Out</a></li>
				 	</ul>	
				 </nav>	

				 <nav class="navbar--main">
				 	<ul class="navbar--main__list">
				 		<li class="navbar--main__item"><a href="" class="navbar__link">Home</a></li>
				 		<li class="navbar--main__item"><a href="" class="navbar__link">My Pics</a></li>
				 		<li class="navbar--main__item"><a href="/contest-info" class="navbar__link">Contest Info & Prizes</a></li>
				 		<li class="navbar--main__item"><a href="/terms" class="navbar__link">Terms and Conditions</a></li>
				 	</ul>	
				 </nav>	
				 
			</header>
			<div class="content-container group">
				<aside class="sidebar">

					<template>
						<% include /templates/upload-modal.html %>
						<% include /templates/upload-success.html %>
						<% include /templates/delete-confirm.html %>
						<% include /templates/update-modal.html %>
					</template>

					<div class="sidebar__contest-info">
						<strong>Enter now for a chance to win </strong>
						<ul>
							<li>Contest Info</li>
							<li>Contest Info</li>
							<li>Contest Info</li>
						</ul>

					</div>

					<button id="upload-image" class="button--primary sidebar__submit-pic">SUBMIT A PIC</button>

					<div class="sidebar__categories">
						<strong>Check out what everyone else has uploaded</strong>
						<ul>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
						</ul>

					</div>	

				</aside>


				<main class="main">

					<% if (isHome) { %>
						<% include /partials/home.html %>
					<% } else if (isTerms) { %>
						<% include /partials/terms.html %>
					<% } %>
			
				</main>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var initialResultset = <%- JSON.stringify(initData) %>;
	</script>

	<script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="javascripts/init.js"></script>
	<script type="text/javascript" src="javascripts/upload.js"></script>
	<script type="text/javascript" src="javascripts/modals.js"></script>
	<script type="text/javascript" src="javascripts/sort-and-filter.js"></script>
	<script type="text/javascript" src="javascripts/infinite-scroll.js"></script>

</html>