
<!doctype html>
<html>
	<head>
		<title> <%=title %> </title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css-starter-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="main-container">
			<header class="header">
				 
				 	<a href="/home"><img class="header__logo" src="/images/logo.svg"/></a>
	
					 <nav class="navbar--user">
					 	<% if (!isHomeSignin) { %>
					 	<ul class="navbar--user__list">
					 		<li class="navbar--user__item">Hi <%= userFirstName %></li>
					 		<li class="navbar--user__item"><a class="navbar--user__link" href="/logout">Sign Out</a></li>
					 	</ul>	
					 	<% } %>
					 </nav>	

					 <nav class="navbar--main">
					 	<ul class="navbar--main__list">
					 		<li class="navbar--main__item"><a href="/home" class="navbar--main__link <%= isHome ? 'isactive' : '' %>">Home</a></li>
					 		<li class="navbar--main__item"><a href="/mypics" class="navbar--main__link <%= isMyPics ? 'isactive' : '' %>">My Pics</a></li>
					 		<li class="navbar--main__item"><a href="/contestinfo" class="navbar--main__link <%= isContestInfo ? 'isactive' : '' %>">Contest Info &amp; Prizes</a></li>
					 		<li class="navbar--main__item"><a href="/terms" class="navbar--main__link <%= isTerms ? 'isactive' : '' %>">Terms &amp; Conditions</a></li>
					 	</ul>	
					 </nav>

					 <img class="header__hamburger-icon" id="hamburger-icon" src="/images/hamburger.png"/>

					 <nav class="navbar--mobile" id="navbar-mobile">
					 	<strong class="navbar--mobile__title">Menu</strong>
					 	<ul class="navbar-mobile__list">
					 		<li class="navbar--mobile__item"><a href="/home">Home</a></li>
					 		<li class="navbar--mobile__item"><a href="/mypics">My Pics</a></li>
					 		<li class="navbar--mobile__item"><a href="/contestinfo">Contest Info &amp; Prizes</a></li>
					 		<li class="navbar--mobile__item"><a href="/terms">Terms &amp; Conditions</a></li>
					 		<li class="navbar--mobile__item"><a href="/logout">Sign Out</a></li>
					 	</ul>		
				 
			</header>
			<div class="content-container group">
				<aside class="sidebar">

					<template>
						<% include /templates/upload-modal.html %>
						<% include /templates/upload-success.html %>
						<% include /templates/delete-confirm.html %>
						<% include /templates/update-modal.html %>
						<% include /templates/details-modal.html %>
					</template>

					<div class="sidebar__contest-info">
						<strong class="sidebar__contest-info__main">Got awesome travel pics? <br>
								Do they say <em>Every Trip Matters?</em> <br>
								Wanna see them on priceline.com? 
						</strong>
						
						<p class="sidebar__contest-info__secondary">Submit your favorite travel pics and they could appear on priceline.com, our social channels, internal presentations or even future marketing campaigns. </p>

					</div>

					<button id="upload-image" class="sidebar__submit-pic">SUBMIT A PIC</button>

					<hr class="sidebar__hr">

					<div class="sidebar__categories">
						
						<strong class="sidebar__categories__title">Tags</strong>
						<ul class="sidebar__categories__list">
							<% for(var category in categories) { %>
							<li class="sidebar__categories__item">
								<input class="sidebar__categories_input" type="checkbox" name="category[]" id="filter-<%= category %>" value="<%= category %>">
								<label class="sidebar__categories__label" for="filter-<%= category %>">#<%= categories[category] %></label>
							</li>
							<% } %>
						</ul>

					</div>	

				</aside>


				<main class="main">

					<% if (isHome || isMyPics) { %>
						<% include /partials/home.html %>
					<% } else if (isTerms) { %>
						<% include /partials/terms.html %>
					<% } else if (isContestInfo) { %>
						<% include /partials/contest-info.html %>
					<% } %>
			
				</main>
			</div>
		</div>

		<% if (isHomeSignin) { %>
			<% include /templates/signin-modal.html %>
		<% } %>
		
	</body>

	
	<script type="text/javascript">
		var pclnPicMe = {};

		<% if (isHome || isMyPics) { %>
		var initialResultset = <%- JSON.stringify(initData) %>;
		// grab initial data set from global value dropped into index.html template by EJS
		pclnPicMe.pageSize = initialResultset.pageSize;
		pclnPicMe.resultset = initialResultset.images;
		pclnPicMe.uid = initialResultset.uid;
		
		<% } %>

		<% if (isHome) { %>
			pclnPicMe.scrollType = 'default';
		<% } else if (isMyPics) { %>
			pclnPicMe.scrollType = 'mypics';
		<% } %>

		pclnPicMe.tagDictionary = <%- JSON.stringify(categories) %>;
	</script>
	

	<script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
	<% if (isHomeSignin) { %>
	<script type="text/javascript" src="javascripts/account.js"></script>
	<% } %>

	<% if (!isHomeSignin) { %>
	<script type="text/javascript" src="javascripts/header.js"></script>
	<script type="text/javascript" src="javascripts/init.js"></script>
	<script type="text/javascript" src="javascripts/likes-event-handler.js"></script>
	<script type="text/javascript" src="javascripts/upload-event-handler.js"></script>
	<script type="text/javascript" src="javascripts/update-event-handler.js"></script>
	<script type="text/javascript" src="javascripts/details-event-handler.js"></script>
	<script type="text/javascript" src="javascripts/modals.js"></script>
	<script type="text/javascript" src="javascripts/sort-and-filter.js"></script>
	<script type="text/javascript" src="javascripts/infinite-scroll.js"></script>
	<% } %>

</html>