
<!doctype html>
<html>
	<head>
		<title> <%=title %> </title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css-starter-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="main-container">
			<header class="header">
				 
				 	<img class="header__logo" src="/images/logo.svg"/>
	
					 <nav class="navbar--user">
					 	<ul class="navbar--user__list">
					 		<li class="navbar--user__item">Hi {Tanya}</li>
					 		<li class="navbar--user__item"><a class="navbar--user__link" href="">Sign Out</a></li>
					 	</ul>	
					 </nav>	

					 <nav class="navbar--main">
					 	<ul class="navbar--main__list">
					 		<li class="navbar--main__item"><a href="" class="navbar--main__link">Home</a></li>
					 		<li class="navbar--main__item"><a href="" class="navbar--main__link">My Pics</a></li>
					 		<li class="navbar--main__item"><a href="/contest-info" class="navbar--main__link">Contest Info &amp; Prizes</a></li>
					 		<li class="navbar--main__item"><a href="/terms" class="navbar--main__link">Terms &amp; Conditions</a></li>
					 	</ul>	
					 </nav>

					 <img class="header__hamburger-icon" id="hamburger-icon" src="/images/hamburger.png"/>

					 <nav class="navbar--mobile" id="navbar-mobile">
					 	<strong class="navbar--mobile__title">Menu</strong>
					 	<ul class="navbar-mobile__list">
					 		<li class="navbar--mobile__item">Home</li>
					 		<li class="navbar--mobile__item">My Pics</li>
					 		<li class="navbar--mobile__item">Contest Info &amp; Prizes</li>
					 		<li class="navbar--mobile__item">Terms &amp; Conditions</li>
					 		<li class="navbar--mobile__item">Sign Out</li>
					 	</ul>		
				 
			</header>
			<div class="content-container group">
				<aside class="sidebar">

					<template>
						<% include /templates/upload-modal.html %>
						<% include /templates/upload-success.html %>
						<% include /templates/delete-confirm.html %>
						<% include /templates/update-modal.html %>
					</template>

					<div class="sidebar__contest-info">
						<strong>Enter now for a chance to win </strong>
						<ul>
							<li>Contest Info</li>
							<li>Contest Info</li>
							<li>Contest Info</li>
						</ul>

					</div>

					<button id="upload-image" class="sidebar__submit-pic">Submit a pic</button>

					<hr class="sidebar__hr">

					<div class="sidebar__categories">
						<strong>Check out what everyone else has uploaded</strong>
						<ul>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
							<li>Category One</li>
						</ul>

					</div>	

				</aside>


				<main class="main">

					<% if (isHome) { %>
						<% include /partials/home.html %>
					<% } else if (isTerms) { %>
						<% include /partials/terms.html %>
					<% } %>
			
				</main>
			</div>
		</div>
		<div id="overlay" class="modal-overlay"></div>
	</body>

	<script type="text/javascript">
		var initialResultset = <%- JSON.stringify(initData) %>;
	</script>

	<script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="javascripts/header.js"></script>
	<script type="text/javascript" src="javascripts/init.js"></script>
	<script type="text/javascript" src="javascripts/upload.js"></script>
	<script type="text/javascript" src="javascripts/modals.js"></script>
	<script type="text/javascript" src="javascripts/sort-and-filter.js"></script>
	<script type="text/javascript" src="javascripts/infinite-scroll.js"></script>

</html>