
<% if (error) { %>
	<div><%= error %></div>	
<% } %>



<!doctype html>
<html>
	<head>
		<title> <%=title %> </title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css-starter-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="main-container">
			<header class="header">
				 
				 	<a href="/home"><img class="header__logo" src="/images/logo.svg"/></a>
	
					
				 
			</header>