

<!doctype html>
<html>
	<head>
		<title> <%=title %> </title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/stylesheets/css-starter-min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="reset-password">
			<header class="header">
				 
				 <a href="/home"><img class="header__logo" src="/images/logo.svg"/></a>			 
			</header>
			<% if (error) { %>
				<div><%= error %></div>	
			<% } else { %>
				<main class="reset-password__form">
					<h1 class="reset-password__headline"> Enter a new password below.</h1>
					<span class="reset-password__error-message">Passwords must be at least 6 characters long. Passwords must match.</span>

					<form id="reset-password-form" method="POST" action="/api/pwreset/complete">
						<input type="hidden" name="username" value="<%= username %>">
						<input type="password" placeholder="New Password" name="password"/>
						<input type="password" placeholder="Re-Type Password" name="password-confirm"/>
						<button type="submit" class="reset-password__button"><span class="loader--white ishidden"></span>Reset Password</button>
					</form>	

				</main>	
			<% } %>
	</body>

	<script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
	<% if (!isProduction) { %>
		<script type="text/javascript" src="/javascripts/account.js"></script>
	<% } else if (isProduction) { %>
		<script type="text/javascript" src="/javascripts/release/account.min.js"></script>
	<% } %>

</html>		
