<div id="accept-terms" class="modal-overlay">
	<div class="modal--sm">
		<strong class="modal--sm__headline">Submit a Pic</strong>
		<div class="modal--sm__title">Almost Done!</div>
		<div class="modal--sm__text">Because your pics could be featured in priceline.com ads, social media, TV spots, email and even internal presentations we need to be sure that you agree to the <a id="terms-link" href="">terms & conditions</a>.</div>
		<div class="modal--smal__text"><p>By entering your photo into the PICME photo contest, you grant <a href="http://www.priceline.com">priceline.com</a>, LLC royalty-free, nonexclusive rights to these photos.  If your photograph is selected by the brand team, you grant <a href="http://www.priceline.com">priceline.com</a>, LLC a royalty-free, nonexclusive rights (in perpetuity) to utilize your image on <a href="http://www.priceline.com">priceline.com</a>, <a href="http://www.priceline.com">priceline.com</a>’s social channels, internal/external PR communications, email communications, collateral (one sheets, PowerPoints, etc.) and advertising campaigns.  If you submit a photo that includes the likeness of a friend, family member or bystander,  the submitter assumes liability for all people present in the photograph.</p></div>
		<img class="modal__close" src="/images/close.svg"/>
		<button class="modal--sm__button--confirm"><span class="loader--white ishidden"></span>Yes, Submit</button> 
		<button class="modal--sm__button--cancel">No, Cancel</button>
	</div>
</div>


