<div id="accept-terms" class="modal-overlay ishidden">
	<div class="modal--sm">
	<div class="loader-container">
		 <div class="spinner">
			<div class="spinner__item1"></div>
			<div class="spinner__item2"></div>
			<div class="spinner__item3"></div>
			<div class="spinner__item4"></div>
		</div>
	</div>	
		<div class="modal--sm__text">Because your pics could be featured in priceline.com ads, social media, TV spots, email and even internal presentations we need to be sure that you agree to the terms & conditions.</div>
		<img class="modal__close" src="/images/close.svg"/>
		<button class="modal--sm__button--confirm">Yes, Submit</button> 
		<button class="modal--sm__button--cancel">No, Cancel</button>
	</div>
</div>


