<div id="details-modal" class="modal-overlay">
	<div class="modal--details">
		<img class="modal--details__close" id="details-modal-close" src="/images/close.svg"/>
		<img class="modal--details__arrow-left" src="/images/leftarrow.png"/>
		<div class="modal--details__container">
			<img class="modal--details__img" src="/images/dummy-details.png"/>
			
			<div class="modal--details__img-info">
				<div class="modal--details__img-submitter">Val Geyvandovs</div>
				<a href="" class="modal--details__edit">Edit</a>
				<div class="modal--details__img-categories">
				</div>
				
				<div class="modal--details__like-content">
					<img src="/images/like.svg"/>
					<div class="modal--details__likes">Likes:
						<span class="details--modal__like-count"></span>
					</div>
				</div>			
			</div>
		</div>	
		<img class="modal--details__arrow-right" src="/images/rightarrow.png"/>
	</div>
</div>


