<div id="details-modal" class="modal--details">
	<img class="modal--details__close" id="details-modal-close" src="/images/close.svg"/>
	<img src="/images/leftarrow.png"/>
	<div class="modal--details__container">
		<img class="modal--details__img" src="/images/dummy-details.png"/>
		<div class="modal--details__img-info">
			<div class="modal--details__img-submitter">Sexy Val Geyvandovs</div>
			<div class="modal--details__img-categories">
				<span class="modal--details__category">#Category</span>
				<span class="modal--details__category">#Category</span>
				<span class="modal--details__category">#Category</span>
			</div>
			<a href="" class="modal--details__edit">Edit</a>
			<div class="modal--details__like-content">
				<img src="/images/like.svg"/>
				<div class="modal--details__likes">Likes:
					<span class="details--modal__like-count">6</span>
				</div>
			</div>			
		</div>
	</div>	
	<img src="/images/rightarrow.png"/>
</div>


