<div id="upload-modal" class="modal">
	<strong class="modal__headline">My Pic</strong>
	<img class="modal__close" id="upload-modal-close" src="/images/close.svg"/>
	<form id="upload-form" action="/api/upload" enctype="multipart/form-data" method="post" >
	
		<!-- TODO: clean up inline styles -->
		<img src="">	

		<div class="upload__tags">
			<strong>Tags</strong> 
			<ul>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
			</ul>
		</div>	

		<div>
			<strong>Location</strong>
			<input name="title" type="text" placeholder="Where did you take this pic?" />
		</div>

		<div class="modal__terms">
			<input type="checkbox" name="category" value="tag1">
			<label class="modal__checkbox-label" for="">I agree to the terms & conditions.</label>
		</div>


		<div><input type="submit" value="Submit a Pic" /></div>
	</form>

</div>