<div id="update-modal" class="modal--lg">
	<strong class="modal--lg__headline">Submit a pic</strong>
	<img class="modal--lg__close" id="upload-modal-close" src="/images/close.svg"/>


	<form id="update-form" action="/api/update" method="post" >
	
		<!-- TODO: clean up inline styles -->
		
		<div class="modal--lg__img-select">
			<img class="modal--lg__img-preview"/>
		</div>

		<div class="modal--lg__img-tags">
			<strong class="modal--lg__subheadline">Tags</strong> 
			<ul>
				<% for(var category in categories) { %>
					<li class="modal--lg__category">
						<input type="checkbox" name="<%= category %>" value="<%= category %>">
						<label class="modal--lg__checkbox-label" for="<%= category %>"><span class="modal--lg__checkbox-span"></span><%= categories[category] %></label>
					</li>
				<% } %>
			</ul>
		</div>	

		<div class="modal--lg__img-location">
			<strong class="modal--lg__subheadline">Location</strong>
			<input name="title" type="text" class="modal--lg__input" placeholder="Where did you take this pic?" />
		</div>

		<button class="modal--lg__button disabled" type="submit">Submit</button>
	</form>

</div>