<div id="upload-modal" class="modal">
	<strong class="modal__headline">Submit a pic</strong>
	<img class="modal__close" id="upload-modal-close" src="/images/close.svg"/>


	<form id="upload-form" action="/api/upload" enctype="multipart/form-data" method="post" >
	
		<!-- TODO: clean up inline styles -->
		
		<div class="modal__img-select">
			<div class="drag-n-drop modal__img-dragbox">
				<img src="" height="140" width="140">
			</div>

			<div class="modal__browseimage">
				<label class="modal__browse-label">Browse
				<input class="modal__browse-input" name="image" type="file" id="file"/></label>
			</div>
		</div>

		<div class="modal__img-tags">
			<strong>Tags</strong> 
			<ul>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
				<li class="modal__category">
					<input type="checkbox" name="category" value="tag1">
					<label class="modal__checkbox-label" for="">Tag 1 Number</label>
				</li>
			</ul>
		</div>	

		<div class="modal__img-location">
			<strong>Location</strong>
			<input name="location" type="text" placeholder="Where did you take this pic?" />
		</div>

		<button class="button--primary" type="submit">Submit</button>
	</form>

</div>