@charset "UTF-8";
/* line 21, ../../scss/partials/_variables.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../../scss/partials/_patterns.scss */
.button, .sidebar__submit-pic, .modal--lg__button, .modal--sm__button--cancel, .modal--sm__button--confirm {
  font-weight: bold;
  display: block;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  height: 42px;
  border: none;
  width: 100%;
  transition: background-color 1s;
}

/* line 15, ../../scss/partials/_patterns.scss */
.disabled {
  background-color: #ccc;
}

/* line 23, ../../scss/partials/_patterns.scss */
input[type="text"] {
  box-shadow: none;
  border: 1px solid #999;
  height: 40px;
  border-radius: 3px;
}

/* line 1, ../../scss/modules/_global.scss */
.main-container {
  max-width: 1440px;
  min-width: 320px;
}

/* line 7, ../../scss/modules/_global.scss */
.content-container {
  top: 70px;
  position: relative;
  min-height: 100vh;
  background: #cccccc;
  background: #d9d9d9;
  background: -moz-linear-gradient(top, #d9d9d9 0%, #f2f2f2 14%, #f2f2f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d9d9d9), color-stop(14%, #f2f2f2), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #d9d9d9 0%, #f2f2f2 14%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #d9d9d9 0%, #f2f2f2 14%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #d9d9d9 0%, #f2f2f2 14%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #d9d9d9 0%, #f2f2f2 14%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#f2f2f2', GradientType=0 );
}

@media (min-width: 841px) {
  /* line 24, ../../scss/modules/_global.scss */
  .content-container {
    top: 110px;
  }
}
/* line 1, ../../scss/modules/_navigation.scss */
.header {
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 9, ../../scss/modules/_navigation.scss */
.header__logo {
  width: 220px;
  vertical-align: middle;
  margin: 10px;
}
/* line 15, ../../scss/modules/_navigation.scss */
.header__hamburger-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 500;
}

/* line 23, ../../scss/modules/_navigation.scss */
.navbar--user, .navbar--main {
  display: none;
}

/* line 27, ../../scss/modules/_navigation.scss */
.navbar--mobile {
  display: none;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  top: 0;
  width: 320px;
  height: 100vh;
}
/* line 37, ../../scss/modules/_navigation.scss */
.navbar--mobile__item {
  padding: 10px 30px;
}
/* line 40, ../../scss/modules/_navigation.scss */
.navbar--mobile__item + li {
  border-top: 1px solid #ccc;
}
/* line 44, ../../scss/modules/_navigation.scss */
.navbar--mobile__item:hover {
  background-color: #60AFD7;
}
/* line 49, ../../scss/modules/_navigation.scss */
.navbar--mobile__title {
  font-weight: normal;
  font-size: 18px;
  padding: 10px 30px;
  display: block;
  border-bottom: 2px solid #ccc;
}

@media (min-width: 841px) {
  /* line 63, ../../scss/modules/_navigation.scss */
  .header {
    height: 110px;
  }
  /* line 66, ../../scss/modules/_navigation.scss */
  .header__logo {
    width: 275px;
    margin: 20px;
  }
  /* line 71, ../../scss/modules/_navigation.scss */
  .header__hamburger-icon {
    display: none;
  }

  /* line 77, ../../scss/modules/_navigation.scss */
  .navbar--main, .navbar--user {
    display: inline-block;
  }
  /* line 80, ../../scss/modules/_navigation.scss */
  .navbar--main__item, .navbar--user__item {
    display: inline-block;
  }

  /* line 85, ../../scss/modules/_navigation.scss */
  .navbar--user {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  /* line 90, ../../scss/modules/_navigation.scss */
  .navbar--user__link {
    padding: 0 8px;
  }

  /* line 95, ../../scss/modules/_navigation.scss */
  .navbar--main {
    vertical-align: bottom;
    padding-bottom: 5px;
    margin: 0 20px;
  }
  /* line 100, ../../scss/modules/_navigation.scss */
  .navbar--main__link {
    padding: 0 10px;
    padding-bottom: 10px;
    color: #999;
    font-size: 16px;
  }
  /* line 106, ../../scss/modules/_navigation.scss */
  .navbar--main__link:hover {
    border-bottom: 5px solid #60AFD7;
  }
}
/* line 1, ../../scss/modules/_sidebar.scss */
.sidebar {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 0 10px 0;
}
/* line 5, ../../scss/modules/_sidebar.scss */
.sidebar__contest-info {
  display: none;
}
/* line 9, ../../scss/modules/_sidebar.scss */
.sidebar__categories {
  display: none;
}
/* line 13, ../../scss/modules/_sidebar.scss */
.sidebar__hr {
  display: none;
}
/* line 17, ../../scss/modules/_sidebar.scss */
.sidebar__submit-pic {
  background-color: #ff9600;
  margin: auto;
  width: 200px;
}
/* line 23, ../../scss/modules/_sidebar.scss */
.sidebar__submit-pic:hover {
  background-color: #DD8201;
}

@media (min-width: 540px) {
  /* line 32, ../../scss/modules/_sidebar.scss */
  .sidebar {
    width: 40%;
    position: fixed;
    top: 71px;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    float: left;
  }
  /* line 42, ../../scss/modules/_sidebar.scss */
  .sidebar__contest-info {
    display: block;
  }
  /* line 46, ../../scss/modules/_sidebar.scss */
  .sidebar__contest-info__main {
    color: #0a84c1;
  }
  /* line 50, ../../scss/modules/_sidebar.scss */
  .sidebar__contest-info__secondary {
    padding-top: 20px;
    color: #666;
  }
  /* line 55, ../../scss/modules/_sidebar.scss */
  .sidebar__hr {
    display: block;
    background-color: #999;
  }
  /* line 61, ../../scss/modules/_sidebar.scss */
  .sidebar__submit-pic {
    width: 90%;
    margin: 30px auto 40px;
    max-width: 250px;
  }
  /* line 67, ../../scss/modules/_sidebar.scss */
  .sidebar__categories {
    display: block;
  }
  /* line 71, ../../scss/modules/_sidebar.scss */
  .sidebar__categories__title {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
  }
  /* line 77, ../../scss/modules/_sidebar.scss */
  .sidebar__categories__item {
    padding: 5px 10px;
  }
  /* line 81, ../../scss/modules/_sidebar.scss */
  .sidebar__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
@media (min-width: 841px) {
  /* line 90, ../../scss/modules/_sidebar.scss */
  .sidebar {
    top: 110px;
  }
}
/* line 3, ../../scss/modules/_main.scss */
.submissions__header {
  padding: 20px 10px 15px 30px;
  background: rgba(242, 242, 242, 0.46);
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 0.46) 0%, #f2f2f2 52%, #f2f2f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242, 242, 242, 0.46)), color-stop(52%, #f2f2f2), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.46) 0%, #f2f2f2 52%, #f2f2f2 100%);
  background: -o-linear-gradient(top, rgba(242, 242, 242, 0.46) 0%, #f2f2f2 52%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 0.46) 0%, #f2f2f2 52%, #f2f2f2 100%);
  background: linear-gradient(to bottom, rgba(242, 242, 242, 0.46) 0%, #f2f2f2 52%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=0 );
}
/* line 16, ../../scss/modules/_main.scss */
.submissions h1 {
  font-size: 16px;
  display: inline-block;
}
/* line 21, ../../scss/modules/_main.scss */
.submissions__container {
  text-align: center;
}
/* line 25, ../../scss/modules/_main.scss */
.submissions__img {
  width: 140px;
  height: 140px;
  margin-bottom: 2px;
  box-shadow: 1px -1px 4px 0px #c3bfbf;
  -webkit-transition: box-shadow 0s ease-in;
  transition: box-shadow 0s ease-in;
}
/* line 33, ../../scss/modules/_main.scss */
.submissions__img:hover {
  box-shadow: 0px 0px 4px 0px #999;
}
/* line 38, ../../scss/modules/_main.scss */
.submissions__img-container {
  display: inline-block;
  font-size: 10px;
  margin: 6px;
}
/* line 44, ../../scss/modules/_main.scss */
.submissions__username {
  display: inline-block;
  width: 45%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
/* line 53, ../../scss/modules/_main.scss */
.submissions__likes {
  text-align: right;
}
/* line 57, ../../scss/modules/_main.scss */
.submissions__like-icon {
  vertical-align: middle;
  padding: 0 5px;
}
/* line 62, ../../scss/modules/_main.scss */
.submissions__sort {
  float: right;
  margin: 0 20px;
}

@media (min-width: 540px) {
  /* line 73, ../../scss/modules/_main.scss */
  .submissions__container {
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
  }

  /* line 80, ../../scss/modules/_main.scss */
  .main {
    width: 60%;
    float: right;
  }
}
@media (min-width: 801px) {
  /* line 89, ../../scss/modules/_main.scss */
  .main {
    width: calc(100% - 320px);
  }
}
/* line 1, ../../scss/modules/_modal.scss */
.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 50;
  opacity: .5;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: none;
}
@media (max-width: 540px) {
  /* line 1, ../../scss/modules/_modal.scss */
  .modal-overlay {
    display: none !important;
  }
}

/* line 20, ../../scss/modules/_modal.scss */
.modal, .modal--lg, .modal--sm {
  position: absolute;
  top: 85px;
  background-color: #ffffff;
  display: none;
  padding: 20px;
  z-index: 100;
  display: none;
}
@media (min-width: 540px) {
  /* line 20, ../../scss/modules/_modal.scss */
  .modal, .modal--lg, .modal--sm {
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 5px -2px 10px 3px #6b6868;
    left: 0;
    right: 0;
    z-index: 300;
    margin: auto;
  }
}

/* line 41, ../../scss/modules/_modal.scss */
.modal__close, .modal--lg__close, .modal--sm__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 47, ../../scss/modules/_modal.scss */
.modal__headline, .modal--lg__headline, .modal--sm__headline {
  color: #ff9600;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 62, ../../scss/modules/_modal.scss */
.modal--lg {
  width: 100%;
  height: 100vh;
}
/* line 78, ../../scss/modules/_modal.scss */
.modal--lg__subheadline {
  font-size: 18px;
  color: #666;
  display: inline-block;
  margin: 20px 0 10px;
}
/* line 85, ../../scss/modules/_modal.scss */
.modal--lg__checkbox-label {
  display: inline-block;
  color: #666;
  font-size: 14px;
}
/* line 91, ../../scss/modules/_modal.scss */
.modal--lg__category {
  margin: 10px 14px 0 0;
  display: inline-block;
}
/* line 96, ../../scss/modules/_modal.scss */
.modal--lg__browse-input {
  display: none;
}
/* line 100, ../../scss/modules/_modal.scss */
.modal--lg__dragbox-cloud {
  position: absolute;
  left: 0;
  right: 0;
  top: 36%;
  width: 40px;
  margin: auto;
  z-index: -5;
}
/* line 114, ../../scss/modules/_modal.scss */
.modal--lg__img-preview {
  width: 80px;
  height: 80px;
}
/* line 120, ../../scss/modules/_modal.scss */
.modal--lg__browse-label {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #666;
  border: 1px solid #999;
}
/* line 128, ../../scss/modules/_modal.scss */
.modal--lg__img-dragbox {
  height: 82px;
  width: 82px;
  display: inline-block;
  border: 1px dashed #999;
  position: relative;
}
/* line 137, ../../scss/modules/_modal.scss */
.modal--lg__button {
  margin: 30px 0 10px 0;
}
/* line 142, ../../scss/modules/_modal.scss */
.modal--lg__error-message {
  color: #b01408;
}

@media (min-width: 540px) {
  /* line 153, ../../scss/modules/_modal.scss */
  .modal--lg {
    max-width: 540px;
    top: 50px;
    height: 570px;
  }
  /* line 158, ../../scss/modules/_modal.scss */
  .modal--lg__category {
    width: 29%;
  }
  /* line 162, ../../scss/modules/_modal.scss */
  .modal--lg__img-dragbox {
    height: 142px;
    width: 142px;
  }
  /* line 167, ../../scss/modules/_modal.scss */
  .modal--lg__dragimage {
    display: inline-block;
  }
  /* line 171, ../../scss/modules/_modal.scss */
  .modal--lg__browseimage {
    display: inline-block;
  }
  /* line 175, ../../scss/modules/_modal.scss */
  .modal--lg__dragbox-cloud {
    width: auto;
  }
  /* line 179, ../../scss/modules/_modal.scss */
  .modal--lg__img-preview {
    width: 140px;
    height: 140px;
  }
  /* line 185, ../../scss/modules/_modal.scss */
  .modal--lg__button {
    width: 200px;
  }
  /* line 189, ../../scss/modules/_modal.scss */
  .modal--lg__img-browse {
    display: inline-block;
    vertical-align: bottom;
    padding: 20px;
  }
  /* line 195, ../../scss/modules/_modal.scss */
  .modal--lg__input {
    width: 320px;
  }
}
/* line 204, ../../scss/modules/_modal.scss */
.modal--sm {
  width: 290px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
}
/* line 220, ../../scss/modules/_modal.scss */
.modal--sm__text {
  width: 80%;
  padding-bottom: 20px;
}
/* line 225, ../../scss/modules/_modal.scss */
.modal--sm__button--cancel {
  background-color: #999;
  width: 120px;
  display: inline-block;
}
/* line 232, ../../scss/modules/_modal.scss */
.modal--sm__button--confirm {
  background-color: #60AFD7;
  width: 120px;
  display: inline-block;
  margin-right: 5px;
}

@media (min-width: 540px) {
  /* line 242, ../../scss/modules/_modal.scss */
  .modal--sm {
    width: 350px;
  }
}
/* Base for label styling */
/* line 249, ../../scss/modules/_modal.scss */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* line 254, ../../scss/modules/_modal.scss */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* checkbox aspect */
/* line 262, ../../scss/modules/_modal.scss */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}

/* checked mark aspect */
/* line 273, ../../scss/modules/_modal.scss */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 24px;
  line-height: 0.8;
  color: #60AFD7;
  transition: all .2s;
}

/* checked mark aspect changes */
/* line 285, ../../scss/modules/_modal.scss */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* line 289, ../../scss/modules/_modal.scss */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
/* line 294, ../../scss/modules/_modal.scss */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* line 300, ../../scss/modules/_modal.scss */
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

/* line 303, ../../scss/modules/_modal.scss */
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
/* line 307, ../../scss/modules/_modal.scss */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
/* line 313, ../../scss/modules/_modal.scss */
label:hover:before {
  border: 1px solid #4778d9 !important;
}
