//button pattern

.button {
	font-weight: bold;
	display: block;
	color: $white;
	font-size: 16px;
	border-radius: 3px;
	height: 42px;
	border: none;
	width: 100%;
	background-color: $orange-2;
	cursor: pointer;
}

.disabled {
	background-color: $black-20;
}

.ishidden {
	display: none !important;
}

.isliked {
	background-color: $black-40 !important;
	pointer: default !important;
}

.headline--orange {
	font-size: 20px;
	color: $orange-2;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}



//checkbox pattern

input[type="text"], input[type="password"], input[type="email"] {
	box-shadow: none;
	border: 1px solid $black-40;
	height: 40px;
	border-radius: 3px;
}

.fade-in-on-load {
	 animation-duration: 1.5s; 
	 animation-name: fadeInOnLoad;
}

@keyframes fadeInOnLoad {
 0%,50% {opacity: 0;}
 100% {opacity: 1;}
}





.slideInAnimation {
	animation-name: slideIn;
	-webkit-animation-name: slideIn;

	-webkit-animation-direction: alternate;	
	animation-direction: alternate;

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	opacity: 1;

	transition: transform 1s;


	transform: translateX(-260px);
	 -webkit-transform: translateX(-260px);

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;

}

@keyframes slideIn {
	0% {
		transform: translateX(0px);
		opacity: 0;
	}			
	100% {
		transform: translateX(-260px);
		opacity: 1;
	}		
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: translateX(0px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(-260px);
		opacity: 1;
	}	
}	



