//button pattern

.button {
	font-weight: bold;
	display: block;
	color: $white;
	font-size: 16px;
	border-radius: 3px;
	height: 42px;
	border: none;
	width: 100%;
	background-color: $orange-2;
	cursor: pointer;
}

.disabled {
	background-color: $black-20;
}

.ishidden {
	display: none !important;
}

.isliked {
	background-color: $black-40 !important;
	pointer: default !important;
}

.headline--orange {
	font-size: 20px;
	color: $orange-2;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}



//checkbox pattern

input[type="text"], input[type="password"], input[type="email"] {
	box-shadow: none;
	border: 1px solid $black-40;
	height: 40px;
	border-radius: 3px;
}

.fade-in-on-load {
	 animation-duration: 1.5s; 
	 animation-name: fadeInOnLoad;
}

@keyframes fadeInOnLoad {
 0%,50% {opacity: 0;}
 100% {opacity: 1;}
}



.menu-enter {
    -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.menu-exit {
    -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;
}

@-webkit-keyframes slide {
    100% { right: -320px; }
}

@keyframes slide {
    100% { right: -320px; }
}

// .menu-exit {
// 	-webkit-animation: slideout 1s forwards;
//     animation: slideout 1s forwards;
// }

// @-webkit-keyframes slideout {
//     100% { right: 0; display: none; }
//     100% {display: none;}
// }

// @keyframes slideout {
//     100% { right: 0; }
// }



// @-webkit-keyframes slide {
//     100% { right: -100%; }
// }

// @keyframes slide {
//     100% { right: 0; }
// }