//color variables

$orange-2: #ff9600;
$orange-3: #ffaf00;

$black: #333;
$black-5: #f2f2f2;
$black-20: #ccc;
$black-40: #999;
$black-60: #666;
$black-80: #333;

$blue-3: #60AFD7;

$white: #ffffff;

$red: #b01408;


.group:after {
  content: "";
  display: table;
  clear: both;
}