

.modal--signin {
	@extend .modal;
	width: 100%;
	min-height: 100vh;
	height: auto;
	top: 0;
	padding: 20px 40px;

	&__container {
		max-width: 320px;
		margin: auto;
	}

	&__register-message {

	}

	&__forgotpass {
		margin-bottom: 20px;
	}

	&__logo {
		width: 100%;
		padding: 10px 0 30px;
		border-bottom: 1px solid $black-20;
	}

	&__headline {
		@extend .headline--orange;
		margin-bottom: 0;
	}

	&__bottom {
		padding-top: 10px;
		position: relative;
	}

	&__secondary-text {
		padding: 0 0 20px;
		margin-top: 25px;
		border-top: 1px solid $black-20;
		position: relative;
	}

	&__input {
		margin: 5px 0;
	}

	&__or {
	    background-color: white;
    position: relative;
    top: -11px;
    /* right: 0; */
    /* left: 92px; */
    /* text-align: center; */
    font-size: 14px;
    font-weight: 400;
    /* padding: 0 25px; */
    width: 45px;
    text-align: center;
    margin: auto;
    color: $black-40;
	}

	&__button {
		@extend .button;
		background-color: $blue-2;
		margin: 5px 0;

		&:hover {
			background-color: $blue-3;
		}
	}

	&__error-message {
		color: $red;
	}
}	

@media (min-width: 540px){
	.modal--signin {
		width: 350px;
		height: auto;
		min-height: initial;
		top: 70px;
	}
}


