.header {
	position: relative;

	&__logo {

	}
}


.navbar--user, .navbar--main {

	&__item {
		display: inline-block;
	}
}

.navbar--user {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 10px;


	&__link {
		padding: 0 8px;
	}
}

.image-tile {
	width: 120px;
	height: 120px;
}
