.header {
	position: fixed;
	z-index: 100;
	background-color: $white;
	width: 100%;
	top: 0;
	left: 0;

	&__logo {
		width: 220px;
		vertical-align: middle;	
		margin: 10px;
	}

	&__hamburger-icon {
		position: absolute;
		right: 10px;
		top: 30px;
		z-index: 500;
		background-color: $white;
	}
}

.navbar--user, .navbar--main {
	display: none;
}

.navbar--mobile {
	background-color: $white;
	top: 0;
	right: -260px;
	position: absolute;
	color: $black-60;
	width: 250px;
	height: 100vh;
	z-index: 5000;
	box-shadow: 3px 0px 7px 4px $black-40;
	transition: transform 1s;
	-webkit-transform: translateZ(1px);
	

	&__item {

		+ li {
			border-top: 1px solid $black-20;
		}

		&:hover {
			background-color: $blue-3;
			color: $black-80;
		}

		a {
			padding: 15px 30px;
			width: 100%;
			display: inline-block;
		}
	}

	&__title {
		font-weight: normal;
		font-size: 18px;
		color: $black-40;
		height: 72px;
		padding: 25px 30px;
		display: block;
		border-bottom: 1px solid $black-20;
	}
}

.isactive--mobile {
	background-color: $blue-3;
	
	a {
		color: $white;
	}
}



//Desktop styles

@media (min-width: 841px) {

	.header {
		height: 110px;
		line-height: 1;
		padding: 1px; 

		&__logo {
			width: 275px;
			margin: 20px;
		}

		&__hamburger-icon {
			display: none;
		}	
	}


	.navbar--main, .navbar--user {
		display: inline-block;

		&__item {
			display: inline-block;
		}
	}

	.navbar--user {
		position: absolute;
		text-transform: capitalize;
		right: 20px;
		top: 10px;

		span {
			padding-left: 5px;
		}

		&__link {
			padding: 0 3px;
		}
	}

	.navbar--main {
		vertical-align: bottom;
		padding-bottom: 8px;
		margin: 0 20px;

		&__link {
			padding: 0 10px;
			padding-bottom: 8px;
			color: $black-40;
			font-size: 16px;


			&:hover {
				border-bottom: 5px solid $blue-3;
			}
		}
	}
}	

.isactive {
	border-bottom: 5px solid $blue-3;
	color: $black-60;
}




