.header {
	position: relative;
	padding: 10px;

	&__logo {
		width: 220px;
		vertical-align: middle;
	}
}


.navbar--user, .navbar--main {
	display: none;

	@media (min-width: 540px) {
		display: inline-block;
	}

	&__item {
		display: inline-block;
	}
}

.navbar--user {
	position: absolute;
	right: 20px;
	top: 10px;


	&__link {
		padding: 0 8px;
	}
}

.image-tile {
	width: 120px;
	height: 120px;
}
