.reset-password {
	text-align: center;

	&__form {
		width: 320px;
		margin: 20px auto;
		text-align: left;
	}

	&__headline {
		font-size: 18px;
		padding: 10px 0;
	}

	input {
		margin: 0 0 5px 0;
	}

	&__button {
		@extend .button;
	}

	&__form {
		width: 360px;
		margin: auto;
	}

	&__error-message {
		color: $red;
		margin-bottom: 10px;
		display: inline-block;
	}

}