.sidebar {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px 0 10px 0;

	&__contest-info {
		display: none;
	}

	&__categories {
		display: none;
	}

	&__hr {
		display: none;
	}

	&__submit-pic {
		@extend .button;
		background-color: $orange-2;
		margin: auto;
		width: 200px;
	
		&:hover {
			background-color: #DD8201;
		}	
	}
}


@media (min-width: 540px) {

	.sidebar {
		width: 40%;
		position: fixed;
		top: 71px;
		max-width: 320px;
		height: 100vh;
		padding: 20px;
		float: left;


		&__contest-info {
			display: block;
		}

		&__contest-info__main {
			color: $blue-2;
		}

		&__contest-info__secondary {
			padding-top: 20px;
			color: $black-60;
		}

		&__hr {
			display: block;
			background-color: $black-40;
		}


		&__submit-pic {
			width: 90%;
			margin: 30px auto 40px;
			max-width: 250px; 
		}

		&__categories {
			display: block;
		}

		&__categories__title {
			color: $black-60;
			display: inline-block;
			margin-bottom: 10px;
		}

		&__categories__item {
			padding: 5px 10px;
		}

		&__close {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
}

@media (min-width: 841px) {
	.sidebar {
		top: 110px;
	}
}
