.sidebar {
	background-color: $black-5;
	padding: 20px 0 10px 0;

	&__contest-info {
		display: none;
	}

	&__categories {
		display: none;
	}

	&__submit-pic {
		background-color: $orange-2;
		margin: auto;
		width: 172px;
		font-weight: bold;
		display: block;
	
		&:hover {
			background-color: red;
		}	
	}

	@media (min-width: 540px) {
		width: 40%;
		height: 100vh;
		padding: 20px;
		float: left;


		&__contest-info {
			display: block;
		}


		&__submit-pic {
			width: 90%;
			margin: 30px auto;
			max-width: 250px; 
		}

		&__categories {
			display: block;
		}

		&__close {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

}

